td,th,tr{
  border: 2px solid black;
}

a{
  text-decoration: none;
  color: white;
}

#navbar{
  background-color: rgb(21, 104, 93);
}

.inputBox{
  height: 540px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

#inputBtn{
  padding: 5% 14%;
  background-color: rgb(15, 15, 15);
}

#radioBtn{
  width: 150%;
  display: flex;
  justify-content: space-between;
  color: grey;
}

#radioBtn1{
  width: 210%;
  display: flex;
  justify-content: space-between;
  color: grey;
}

#formIs{
  margin-top: 2%;
}