
a{
  text-decoration: none;
  color: white;
}

#navbar{
  background-color: rgb(21, 104, 93);
}

.inputBox{
  height: 540px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

#inputBtn{
  padding: 5% 14%;
  background-color: rgb(15, 15, 15);
}

#radioBtn{
  width: 150%;
  display: flex;
  justify-content: space-between;
  color: grey;
}

#radioBtn1{
  width: 210%;
  display: flex;
  justify-content: space-between;
  color: grey;
}

#formIs{
  margin-top: 2%;
}

#petHome{
  height: 170px;
  width: 22%;
}

#petImg{
  height: 100%;
  width: 100%;
}

.flexBox{
  display: flex;
}

.leftDiv{
  height: 678px;
  width: 60%;
}

.rightDiv{
  text-align: center;
  width: 40%;
  padding-top: 9%;
  background-image: url("https://i.pinimg.com/736x/bb/cb/cb/bbcbcb5a00722e148fa5d51d11aeddb3.jpg");
  
}

h1{
  color: rgb(80, 79, 79);
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.selectTag{
  height: 130px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.selectTag >div{
  margin-top: 3%;
  width: 20%;
}

#pagination{
  margin: auto;
}
